
@font-face {
    font-family: Over There;
    src: url(Over There.ttf);
}

@font-face {
    font-family:airstrikelaser;
    src: url(airstrikelaser.ttf);
}


@font-face {
    font-family: airstrike;
    src: url(airstrike.ttf);
}

@font-face {
    font-family:Nexa Light;
    src: url(Nexa Light.otf);
}

@font-face {
    font-family:Nexa Bold;
    src: url(Nexa Bold.otf);
}


.header{
	font-family: Over There;
	font-size: 50px;
	text-align: center;
	color:white;
	-webkit-text-stroke: 1px black;
	
}

.tagline{
	margin-left:435px;
    font-size: 40%;
    
    
}


.button {
    background-color:  black;
    border: none;
    color: white;
    -webkit-text-stroke: 0px;
    text-shadow: 2px 1px 1px 2px black;
    padding:15px 32px 10px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px; 
    cursor: pointer;
    border-radius: 8px;
	box-shadow: 1px 1px 1px 1px #002633;
}


.button:hover{
	border:1px solid ;
	background-color: #1a1aff;
    opacity: 1;
}
#second{
	display:none;
}
