


@font-face {
    font-family: Over There;
    src: url(Over There.ttf);
}

@font-face {
    font-family:airstrikelaser;
    src: url(airstrikelaser.ttf);
}


@font-face {
    font-family: airstrike;
    src: url(airstrike.ttf);
}

@font-face {
    font-family:Nexa Light;
    src: url(Nexa Light.otf);
}

@font-face {
    font-family:Nexa Bold;
    src: url(Nexa Bold.otf);
}

.header{
	
	font-family: Over There;
	font-size: 2.7vw;
	
	
	color:white;
	max-width:100%;

	
	-webkit-text-stroke: 1.5px black;
	padding-left:30vw;
	padding-top:10px;
	padding-bottom:10px;
	
}

.tagline{
	margin-left:25vw;
    font-size: 1.3vw;
    
    
}


	

.vl {
    border-left: 6px solid green;
    height: 50px;
}
	

                  /*footer start*/

body {
    height:100%;
    width: 100%;
}

body {
    display: table;
	
}

.contain {
    height: auto;
}

.footer {
background-color:black;
    display: table-row;
    height: 1px;
color:white;
	}


.img{
	height:175px;
	width:175px; 
	}
                           /*footer End*/	
	
	
	

.hstyle{
    color: black;
   
text-align:center;
font-family:Nexa Bold;
font-size:3.5vw;
	}
	
	.border{
		
		text-align:center;
		border-top:2px solid #74AFAD;
	    border-right:8px solid #74AFAD;
		border-bottom:8px solid #74AFAD;
		border-left:2px solid #74AFAD;
		color:black;
		font-size:20px;
		max-width:100%;
	
	}

.background-wrap{                                    /*video adding*/
	position:fixed;
	z-index:-1000;
	width:100%;
	height:100%;
	overflow:hidden;
	top:0px;
	left:0px;
	
}




	